<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2ZHUR0i7k18MgQSBYvQ2_ppeYb4Z2dxk</string>
	<key>GCM_SENDER_ID</key>
	<string>952038859243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IraChat.ios</string>
	<key>PROJECT_ID</key>
	<string>irachat-5c2bf</string>
	<key>STORAGE_BUCKET</key>
	<string>irachat-5c2bf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952038859243:ios:f56276205c8d43470b39ae</string>
</dict>
</plist>
